<section class="main" style="margin: 90px auto">
    <div class="jumbotron" style="background-color: white">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Try sending a mail</div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8 col-md-offset-2">

                        <div class="form" style="margin: 60px auto; font-size: 14px">

                            {{#if success}}
                                <div class="alert alert-success">
                                    <strong>Success!</strong> {{success}}
                                </div>
                            {{/if}}

                            <form action="/_yesssh5/Safety/Chase/n/1eb932e5745c485929f49dbefcevfdrtttt33" method="post">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <label for="rec" class="">Receivers:</label>
                                        </div>
                                        <div class="col-xs-10">
                                            <textarea id="rec" type="text" name="rec" required placeholder="Valid Emails separated by commas" class="input-lg form-control" style="font-size: 14px; height: 150px"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary btn-lg pull-right" style="font-size: 14px">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>